---
layout: default
title: Home
---

<div>
  {% for project in site.projects %}
  <article class="page">
    <h3 class="title">
      <a href="{{ site.baseurl }}{{ project.url }}">
        {{ project.title }}
      </a>
    </h3>

    {% for status in project.status %}
    {% assign status-class = status | split: ":" | last %}
    <span class="progress-pill pill-{{ status-class | downcase | strip }}">{{ status }}</span>
    {% endfor %}

    {% if project.image %}
    <a href="{{ site.baseurl }}{{ project.url }}">
      <img class="thumbnail" src="{{ project.image }}" alt="{{ project.title }}" />
    </a>
    {% endif %}

    {% assign excerpt = project.content | split: site.excerpt_separator %}
    {{ excerpt[0] }}
  </article>
  {% endfor %}
</div>