---
layout: default-gallery
---

<article class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.gallery %}
    <img class="thumbnail" src="{{ site.baseurl }}/assets/{{ page.gallery }}/thumbs/main.png" alt="{{ page.title }}" />
  {% endif %}
  {{ content }}

  
  {% if page.gallery %}
  <h2>Gallery</h2>
  {% for image in site.data.galleries[page.gallery] %}
  <a href="{{ site.baseurl }}/assets/{{ page.gallery }}/{{ image.file }}" data-lightbox="gallery">
    <img class="gallery-thumbnail" src="{{ site.baseurl }}/assets/{{ page.gallery }}/thumbs/{{ image.file }}" />
  </a>
  {% endfor %}
  {% endif %}
</article>
